<template>
  <div id="app" v-cloak>
    <h3>Character Builder for 5e D&D</h3>
      <router-view 
      class="view" 
      :pcharname="CharacterSheet.charNameVal"
      :pcharclass="CharacterSheet.charClassVal"
      v-on:enteredname="CharNameEntered"
      v-on:enteredclass="ClassNameEntered"
      >
      </router-view>
  </div>
</template>

<script>

export default {
  name: 'app',
  components: {
  },
  props:{
    pcharname : String,
    pcharclass : String
  },
  data() {
    return {
        CharacterSheet: {
          charNameVal: "",
          charClassVal: "",
          abilityScores: {
            Str: ["Strength", 8],
            Dex: ["Dexterity", 8],
            Con: ["Constitution", 8],
            Int: ["Intelligence", 8],
            Wis: ["Wisdom", 8],
            Cha: ["Charisma", 8]
          }
        }
      }
    },
    methods: {
      CharNameEntered(payload) {
        //alert(payload);
        this.CharacterSheet.charNameVal = payload;
      },
      ClassNameEntered(payload) {
        //alert(payload);
        this.CharacterSheet.classNameVal = payload;
      }
    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#logo {
  height: 200px;
  width: auto;
  margin-bottom: 30px;
}

h3 {
  text-shadow: 1px 1px #ff8080
}
</style>
