<template>
  <div id="classpick" v-cloak>
    <h1 :hidden="!nameExists">
    - {{ displayName }} -
    </h1>
  <div>
      <ClassCard v-for="(c, index) in charClasses" :key="index" :pclassname="c.name" :pclassdesc="c.desc"/>
  </div>
  </div>
</template>

<script>

import ClassCard from './components/ClassCard.vue'

export default {
  name: 'CharClass',
  components: {
    ClassCard
  },
  props: {
    pclassname: String,
    pclassdesc: String
  },
  data() {
    return {
      displayName: "",
      nameExists: false,
      charClasses: {
        Fighter: {
          name: "Fighter",
          desc: "A warrior who uses martial prowess and nature magic to combat threats on the edges of civilization",
          img: ""
        },
        Rogue: {
          name: "Rogue",
          desc: "A scoundrel who uses stealth and trickery to overcome obstacles and enemies",
          img: ""
        },
        Cleric: {
          name: "Cleric",
          desc: "A priestly champion who wields divine magic in service of a higher power",
          img: ""
        },
        Wizard: {
          name: "Wizard",
          desc: "A scholarly magic-user capable of manipulating the structures of reality",
          img: ""
        },
      }
    }
  },
  mounted() {
    this.displayName = this.$attrs.pcharname;
    let name = this.displayName;
    if (name === "" || name.trim().length === 0){
        alert("No name found. Returning to Name Entry...");
        this.$router.push('/');
    } else{
      this.nameExists = true;
    }
    
  },
  computed: {
    numberOfRows(){
      let rows = Math.ceil(Object.keys(this.charClasses).length)/2;
      return rows;
    }
  } 
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

[v-cloak] {
display: none
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

</style>