<template>
  <div id="nameentry" v-cloak>
    <img alt="D&D Logo" src="./assets/logo.png" id="logo">
    <BuilderStart v-on:enteredname="CharNameEntered">
    </BuilderStart>
  </div>
</template>

<script>
import BuilderStart from './components/NameInput.vue'

export default {
  name: 'CharName',
  components: {
    BuilderStart
  },
  data() {
    return {
        charNameVal : "",
        classNameVal : ""
    }
  },
  methods: {
    CharNameEntered(payload) {
      //alert(payload);
      this.charNameVal = payload;
      this.$emit('enteredname', payload);
    },
    ClassNameEntered(message, entry) {
      this.classNameVal = entry;
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#logo {
  height: 200px;
  width: auto;
  margin-bottom: 30px;
}
</style>
