<template>
    <div id="scores" align="center" v-cloak >
      
        <!--Create component for ability scores-->

    </div>
</template>

<script>

export default {
  name: 'CharAbs',
  components: {
  },
  data() {
    return {scorevalue : 8, modifier: -1, scorecost: 0, scorecostOld: 0}
  },
  computed: {
    scoreCostTotal(){
      let val = 0;
      // total of all score costs
      return val;
    }
  }

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

[v-cloak] {
display: none
}

[v-cloak] {
display: none
}

.fixed_header{
width: 500px;
table-layout: fixed;
border-collapse: collapse;
}

.fixed_header tbody{
display:block;
width: 100%;
overflow: auto;
height: 300px;
}

.fixed_header thead tr {
display: block;
}

.fixed_header thead {
}

.fixed_header th, .fixed_header td {
padding: 5px;
text-align: left;
}

.form-textbox {

height: 25px !important;

width: 220px !important;

font-size: 14px !important;

}

.tooHigh {
  color: red;
}


</style>