<template>
    <div class="container-fluid" style="width:60%" v-cloak>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="http://via.placeholder.com/150x150" alt="Class Logo">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title" style="margin: 5px" >{{$attrs.pclassname}}</h6>
                        <p class="card-text" style="margin-bottom: 5px">{{$attrs.pclassdesc}} <br></p>
                        <button type="button" class="btn btn-light" @click="GoToAbilityScores">Choose Class</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ClassCard',
  methods: {
    GoToAbilityScores(){
      this.$router.push('/abs')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
p, button {
  font-size: 13px;
}
[v-cloak] {
display: none
}

</style>
