<template>
  <div>
    <input placeholder="Enter Character Name" maxlength="20"
    align="center" 
    type="text" v-model="charNameEntry" @keyup.enter="submit">
    <p :class="{animateError: hasError, hideError: !hasError}"> 
    {{ ErrorMsg }}  </p>
  </div>
</template>

<script>
export default {
  name: 'NameInput',
  props: {
  },
  data() {
    return {
      charNameEntry : '',
      ErrorMsg : 'Please Enter a Character Name!',
      hasError : false
    }
  },
  methods: {
    submit() {
      this.hasError = false;
      if (this.charNameEntry.trim().length === 0){
        this.hasError = true;
      }
      else {
        let name = this.charNameEntry;
        //alert("Name : " + name);
        this.$emit('enteredname', name);
        this.charNameEntry = "";
        // Next Page
        this.$router.push('charclass');
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
input {
  padding: 5px;
  font-size: 16px;
   text-align: center; 
}
input:hover {
  background-color: #f7f7f7; 
}

.animateError {
  color: red;
}

.hideError {
  visibility: hidden;
}
</style>
